/* Section 1*/
header {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
}

h1 {
    background-color: #33ccff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
}

nav {
    background-color: #7df379;
    overflow: hidden;
    nav-down: auto;
    position: fixed;
    background-attachment: fixed;
    width: 100%;


}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #5819ec;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 20px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: underline;
}

/*---------parallex on index.html--------*/

.parallax-effect {
    background-image: url(/assets/images/vic_park.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.scroll1 {
    background: #33ccff;
    font-size: 18px;
    text-align: justify;
    text-justify: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;

}

#image-bandstand {
    width: 700px;
    height: 400px;
    float: right;
    padding-left: 60px;
    padding-right: 30px;
}

.scroll2 {
    background: #33ccff;
    font-size: 18px;
    text-align: justify;
    text-justify: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;


}

#image-play {
    width: 570px;
    height: 350px;
    padding-left: 30px;
    padding-right: 30px;
}

#time {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

.map {
    text-align: center;
}

.map-text {
    text-align: center;
}

/*--------SECTION 4 --------*/
.social {
    text-align: center;
    background-color: #33ccff;
}

/*--------FACILITIES--------*/
body,
html {
    height: 100%;
    background: #33ccff;
    text-align: center;
}

/*--------SECTION 1---------*/


/*--------SECTION 2---------*/
.splash {
    height: 50%;
    width: 100%;
    background-image: url(/assets/images/splash_summer2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-text {
    text-align: left;
    padding: 0px 80px;
    list-style-type: square;
}

/*--------SECTION 3---------*/

/*-------CONTACT PAGE-------*/
.form-page {
    background-image: url(/assets/images/vic_park.jpg);
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}