header {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
}















/*--------HEADER NAV BAR --------*/

nav {
    background-color: #0c330c;
    overflow: visible;
    nav-down: auto;
    position: fixed;
    background-attachment: fixed;
    width: 100%;
    display: inline-block;
    height: 103px;
   
}

nav img {
    position: absolute;
    height: 100px;
    margin-left: 50px;
   
}

nav h1 {
    align-self: center;
    margin-left: 250px;
    color: #faf9fc;
    font-size: 50px;
}

nav a {
    float: right;
    color: #faf9fc;
    text-align: end;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 20px;
    align-self: flex-end;
    direction: ltr;
    
}

nav a:hover {
 
    color: rgb(221, 217, 217);
}

nav a.active {
    
    color: white;
    text-decoration: underline;
}


/*--------HOME BACKGROUND --------*/
.parallax-effect1 {
    background-image: url(../images/vic_park.webp);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

/*--------HOME WELCOME--------*/
.scroll1 {
    background-color: #0c330c;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;

}

#image-bandstand {
    width: 700px;
    height: 400px;
    float: right;
    padding-left: 60px;
    padding-right: 50px;
}

/*--------HOME THINGS TO DO--------*/
.scroll2 {
    background-color: #0c330c;
        color: #f1f1f1;
    font-size: 18px;
    text-align: justify;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;


}

#image-play {
    width: 570px;
    height: 350px;
    padding-left: 30px;
    padding-right: 50px;
}

/*--------HOME OPENING TIMES AND MAP--------*/
#time {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    background-color: #0c330c;
        color: #f1f1f1;
}


.map-text {
    text-align: center;
    background-color: #0c330c;
        color: #f1f1f1;
}

/*--------FOOTER ON ALL PAGES --------*/
footer {
    text-align: center;
    background-color: #0c330c;
        color: #f1f1f1;
    background-attachment: fixed;
    font-size: 20px;
    padding-bottom: 10px;
}
#copyright {
    float:right;
    padding-right: 30px;
    font-size: 15px;
}

.social a:link {
    color: rgb(136, 210, 245);
    background-color: transparent;
    text-decoration: underline;
}

p a:link {
    color: rgb(136, 210, 245);
    background-color: transparent;
    text-decoration: underline;
}

/*--------FACILITIES BACKGROUND--------*/
.parallax-effect2 {
    background-image: url(../images/splash_summer2.webp);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

/*--------FACILITIES SPLASHPAD--------*/
.splash {
    background-color: #0c330c;
        color: #f1f1f1;
    padding-top: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}


.splash-times h3,
h5 {
    text-align: center;
    padding-right: 15px;
}

th,
td {
    padding: 15px;
    text-align: end;
}

/*--------FACILITIES AMINITIES--------*/
.amenities-list {
    background-color: #0c330c;
        color: #f1f1f1;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#facilities-ul {
    list-style-type: none;
    line-height: 20px;
}

#facilities-ul a:link {
    color: rgb(136, 210, 245);
    background-color: transparent;
    text-decoration: underline;
}


/*--------NEWSLETTER BACKGROUND--------*/

.parallax-effect3 {
    background-image: url(../images/waterfountain.webp);
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
/*--------NEWSLETTER FORM--------*/
.form .container {
    position: absolute;
    left: 20px;
    top: 200px;
    margin: 20px;
    width: 500px;
    padding: 16px;
    background-color: rgb(233, 250, 238);
}

/* Full-width input fields */
input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #effaf1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #effaf1;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*GALLERY PAGE STYLING*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

