/*index.html - title and nav*/
header {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
}

h1 {
    background-color: #65d7fd;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
}

nav {
    background-color: #7df379;
    overflow: hidden;
    nav-down: auto;
    position: fixed;
    background-attachment: fixed;
    width: 100%;


}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #5819ec;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 20px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: underline;
}

/*---------parallex on index.html--------*/

.parallax-effect1 {
    background-image: url(/assets/images/vic_park.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.scroll1 {
    background: #85defc;
    font-size: 18px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    
 

}

#image-bandstand {
    width: 700px;
    height: 400px;
    float: right;
    padding-left: 60px;
    padding-right: 50px;
}

.scroll2 {
    background: #85defc;
    font-size: 18px;
    text-align: justify;
    text-justify: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;


}

#image-play {
    width: 570px;
    height: 350px;
    padding-left: 30px;
    padding-right: 50px;
}

#time {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    background: #85defc;
}

.map {
    float: center;
}

.map-text {
    text-align: center;
    background: #85defc;
}

/*--------SECTION 4 --------*/
.social {
    text-align: center;
    background-color: #85defc;
}

/*--------FACILITIES--------*/
.parallax-effect2 {
    background-image: url(/assets/images/splash_summer2.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}
.splash {
background-color: #85defc;
padding-top: 30px;
padding-left: 50px;
}

.splash-text {
    text-align: left;
    width: 450px;
}



th, td {
    padding: 20px;
}

/*--------CONTACT--------*/

.parallax-effect3 {
    background-image: url(/assets/images/waterfountain.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.form

.container {
    position: absolute;
    left: 20px;
    top: 200px;
    margin: 20px;
    width: 500px;
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*GALLERY PAGE STYLING*/

#photo {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}
#photo img {
    width: 100%;
}


