/* Section 1*/
header {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
}

h1 {
    background-color: #33ccff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
    padding-bottom: 5px;
}

nav {
    background-color: #7df379;
    overflow: hidden;
    nav-down: auto;
    position:fixed;
    background-attachment: fixed;
    width:100%;
    

}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #5819ec;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 20px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: underline;
}

/* -------- SECTION 2 -------*/
.home-hero {
    background-image: url(/assets/images/vic_park.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.clearfix {
    background: #33ccff;
    font-size: 18px;
    text-align: justify;
    text-justify: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

.image-bandstand {
    padding-left: 150px;
    height:auto;
}

.image-play {
    transform: scale (0.1);
}

#time {

    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;

}

.fountain {
    position: relative;
    padding: 70px 50px 50px 70px;
    text-align: left;
    font-size: 18px;
}

.map-text {
    text-indent:;
}

.map {
    float: right;
    padding-bottom: 20px;
}

/*--------SECTION 4 --------*/
.social {
    text-align: center;
    background-color: lightgrey;
}

/*--------FACILITIES--------*/
body,
html {
    height: 100%;
    background:#33ccff;
    text-align: center;
}

/*--------SECTION 1---------*/


/*--------SECTION 2---------*/
.splash {
    height: 50%;
    width: 100%;
    background-image: url(/assets/images/splash_summer2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.splash-text {
    text-align: left;
    padding: 0px 80px;
    list-style-type: square;
}

/*--------SECTION 3---------*/

/*-------CONTACT PAGE-------*/
.form-page {
    background-image: url(/assets/images/vic_park.jpg);
    height: 50%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/*---------parallex on index.html--------*/

.parallax-effect {
    background-image: url(/assets/images/vic_park.jpg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect+div {
    height: 600px;
    background-image: #33ccff;
    font-size: 18px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}