/* Section 1*/
h1 {
    background-color: #33ccff;
    text-align: center;
}

nav {
    background-color: #7df379;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 19px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
nav a.active {
    background-color: #04AA6D;
    color: white;
    text-decoration: underline;
}

/* -------- SECTION 2 -------*/
.clearfix {
    background: linear-gradient(to bottom, #33ccff 0%, #7df379 100%);
}

/*--------SECTION 3 --NOTHING WORKS IN THIS SECTION------*/
.container text-center {
    background: linear-gradient(to bottom, #33ccff 0%, #7df379 100%);
}

.map text {
    text-align: left;
}

/*--------SECTION 4 --------*/
.social {
    text-align: center;
    background-color: lightgrey;
}

/*--------FACILITIES--------*/
body {
    height: 100%;
    background: linear-gradient(to bottom, #33ccff 0%, #7df379 100%);
}

/*--------SECTION 1---------*/
#hero image {
    height: 50%;
    width: 100%;
    background-image: url(assets/images/children_splash.jpg);
    background-repeat: no-repeat;
}

/*--------SECTION 2---------*/
/*--------SECTION 3---------*/