@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');


/*--- -Background Styling-------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family:'Merriweather', sans-serif;
    font-size: 16px; 
}

/*--------NAV BAR --------*/
nav {
    position: fixed;
    background-color: #2a4848ff;
    nav-down: auto;
    background-attachment: fixed;
    width: auto;
    display: block;
    z-index: 10;
}
nav img {
    height: 85px;
}
nav h1 {
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
    color: #faf9fc;
    justify-content: center; 
}
#navbarNav {
    justify-content: end;
}
.navbar-nav .nav-link {
    color: #faf9fc;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 10px;
    align-self: flex-end;  
}
.navbar-nav .nav-link:hover {
    color: rgb(185, 184, 184);
}
.navbar-nav .nav-link.active {
    color: rgb(216, 213, 213);
    text-decoration: underline;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show:hover {
    color: rgb(185, 184, 184);
}
nav a:hover {
    color: rgb(221, 217, 217);
}
nav a.active {
    text-decoration: underline;
    color: white !important;
}

/*--------HOME BACKGROUND --------*/
.parallax-effect1 {
    background-image: url(../images/vic_park.webp);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
}

/*--------EVENT COLOUMN --------*/
.event-container {
    max-width: 100%;
    background-size: auto;
    background: #2a4848;
    left: 20px;
}
.year {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
    color: white;
}
.event {
    box-shadow: 0 4px 16px -8px #9cd9a8ff;
    display: flex;
    border-radius: 8px;
}
.event-left {
    background: #aec547;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(63, 66, 63);
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}
.date {
    font-size: 45px;
}
.month {
    font-size: 16px;
    font-weight: normal;
}
.event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    color: white;
}
.event-title {
    font-size: 20px;
    margin: 24px 0 10px 0;
    color: white;
    text-transform: uppercase;
}
.event-timing {
    background: #2a4848;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
    color: white;
}
.event-timing img {
    height: 20px;
    padding-right: 8px;
}

/*--------HOME WELCOME--------*/
.scroll1 {
    background-color: #2a4848;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}

a:link {
    color: #f1f1f1 !important;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: #f1f1f1 !important;
    background-color: transparent;
    text-decoration: underline;
}
#image-bandstand {
    width: 100%;
    height: 400px;
}
/*------- -HOME THINGS TO DO--------*/
.scroll2 {
    background-color: #62760c;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}
#open-time {
    font-size: 22px;
    font-style: italic;
}
/*--------THINGS TO DO AND MAP--------*/
#map-image {
    padding-bottom: 10px;
    width: 100%; 
}
#map-text {
    padding-top: 3rem;
    text-align: center;
}

#address {
    text-align: center;
    list-style-type: none;
}




/*------  --FOOTER ON ALL PAGES --------*/
footer {
    display: flex;
    justify-content: center;
    background-color: #2a4848ff;
    color: #f1f1f1;
    text-align: center;
    padding-top: 10px;
    flex-direction: column;
}

.icon-space {
    padding-right: 10px;
    padding-bottom: 3rem;
}




footer a:link {
    color: #ffff;
    background-color: transparent;
    text-decoration: underline;

}

footer a:visited {
    color: #ffff;
    background-color: transparent;
    text-decoration: underline;
}


#back-top {
    text-align: end !important;
    font-size: 15px;
    float: right;
    

}

/*--------FACILITIES BACKGROUND--------*/
.parallax-effect2 {
    background-image: url(../images/splash_summer2.webp);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0px;
}

/*--------FACILITIES SPLASHPAD--------*/
.splash {
    background-color: #2a4848;
    color: #f1f1f1;
    display: flex;
    margin: auto;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
 
}

.splash h3 {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}



th,
td {
    padding: 15px;
    border: 1px dashed lightgrey !important;
}

/*  --------FACILITIES AMINITIES--------*/
.amenities-list {
    background-color: #62760c;
    color: #f1f1f1;
    text-align: center;
    padding-top: 20px;
    margin: auto;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
}
#facilities-ul {
    list-style-type: none;
    line-height: 20px;
}
#facilities-ul a:link {
 
    font-size: 16px;
}

#facilities-ul a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
}


/*--------NEWSLETTER BACKGROUND--------*/

.parallax-effect3 {
    background-image: url(../images/waterfountain.webp);
    min-height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0px;
}

/*--------NEWSLETTER FORM--------*/
.form .container {
    position: absolute;
    color: #f1f1f1;
    top: 40%;
    width: 100%;
    padding: 16px;
    background-color: #2a4848;
}

/* Full-width input fields */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #effaf1;
}
#comment {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    background-color: #effaf1;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;

    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*GALLERY PAGE STYLING*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 900px) {
    #image-bandstand {
        display: none;
    }
    #image-play {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .social {   
    padding-right: 5rem;    
    }
    .scroll1 {
        padding-left: 10%;
        padding-right: 10%;
    }
    .scroll2 {
        padding-left: 10%;
        padding-right: 10%;
    }
    .form .container {
        left: 25px;
        width: 500px;
    }
    .event {
        margin: 10px 0;
    }
    .map {
        padding-right: 10%;
    }
    .event-container {
        position: absolute;
    }
    th,
    td {
        text-align: end;
    }
    .form .container {
        top: 200px;
    }
    #photo {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0px;
        background-color: #2a4848;
    }
}

@media only screen and (max-width: 599px) {
    #welcome {
        display: none;
    }
    .parallax-effect1 .parallax-effect2 {
        min-height: 300px;
    }
    .mobile-hide {
        display: none;
    }
    nav h1 {
        text-align: center;
    }
    .event {
        flex-direction: column;
    }
    .event-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }
    .event .event-left .event-date {
        padding: 10px 0;
    }
    footer {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        flex-direction: column;
    }
    #photo {
        clear: both;
        line-height: 0;
        column-count: 1;
        column-gap: 0px;
        background-color: #2a4848;
    }
   .splash {
        display: flex;
        justify-content: center;
        flex-direction: column;
   }
}