header {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
}

h1 {
    background-color: #65f560;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-attachment: fixed;
}

nav {
    background-color: #65f560;
    overflow: hidden;
    nav-down: auto;
    position: fixed;
    background-attachment: fixed;
    width: 100%;
    text-align: end;
}

nav a {
    float: left;
    color: #5819ec;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 20px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: rgb(5, 183, 5);
    color: white;
    text-decoration: underline;
}

.parallax-effect1 {
    background-image: url(../images/vic_park.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.scroll1 {
    background: #85defc;
    font-size: 18px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
}

#image-bandstand {
    width: 700px;
    height: 400px;
    float: right;
    padding-left: 60px;
    padding-right: 50px;
}

.scroll2 {
    background: #85defc;
    font-size: 18px;
    text-align: justify;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;


}

#image-play {
    width: 570px;
    height: 350px;
    padding-left: 30px;
    padding-right: 50px;
}

#time {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    background: #85defc;
}


.map-text {
    text-align: center;
    background: #85defc;
}

/*--------SECTION 4 --------*/
.social {
    text-align: center;
    background-color: #85defc;
}

/*--------FACILITIES--------*/
.parallax-effect2 {
    background-image: url(../images/splash_summer2.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.splash {
    background-color: #85defc;
    padding-top: 30px;

}

.splash-text {
    text-align: left;
    padding-right: 15px;
}

h3,
h5 {
    text-align: center;
}


th,
td {
    padding: 15px;
}

.amenities-list {
    background-color: #85defc;
    text-align: center;

}

#facilities-ul {
    list-style-type: none;
    line-height: 20px;
}


/*--------CONTACT--------*/

.parallax-effect3 {
    background-image: url(../images/waterfountain.jpg);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.form .container {
    position: absolute;
    left: 20px;
    top: 200px;
    margin: 20px;
    width: 500px;
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */
.btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*GALLERY PAGE STYLING*/

#photo {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}