
/*--------NAV BAR --------*/
nav {
    position: fixed;
    background-color: #2A4848ff;
    nav-down: auto;
    background-attachment: fixed;
    width: auto;
    display: block;
}

nav img {
 
    height: 85px;
}

nav h1 {
    align-self: center;
    margin-left: 20px;
    color: #faf9fc;
    font-size: 50px;
}

.navbar-nav .nav-link {
    color: #faf9fc;
    text-align: center;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 17px;
    text-indent: 10px;
    align-self: flex-end;
}

.navbar-nav .nav-link:hover {
    color: rgb(185, 184, 184);
}

.navbar-nav .nav-link.active {
    color: rgb(216, 213, 213);
    text-decoration: underline;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show:hover {
    color: rgb(185, 184, 184);
}

nav a:hover {
    color: rgb(221, 217, 217);
}

nav a.active {
    text-decoration: underline;
    color: white !important
}


/*--------HOME BACKGROUND --------*/
.parallax-effect1 {
    background-image: url(../images/vic_park.webp);
    min-height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}



/*--------EVENT COLOUMN --------*/
.event-container {
    
    font-family: Roboto, sans-serif;
    max-width: 100%;
    background-size: auto;
    background:  #2A4848;
    left: 20px;
}

.year {
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #b1b1b1;
    color: white;
}

.event {
    box-shadow: 0 4px 16px -8px #9CD9A8ff;
    display: flex;
    border-radius: 8px;
    
}

.event-left {
    background: #9CD9A8ff;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 8px 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.date {
    font-size: 45px;
}

.month {
    font-size: 16px;
    font-weight: normal;
}

.event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 24px;
    color: white;
}

.event-title {
    font-size: 20px;
    margin: 24px 0 10px 0;
    color: white;
    text-transform: uppercase;
}

.event-timing {
    background: #2A4848;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 0;
    font-size: 14px;
    color: white;

}

.event-timing img {
    height: 20px;
    padding-right: 8px;
}

/*--------HOME WELCOME--------*/
.scroll1 {
    background-color: #2A4848;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 10px;

}

#image-bandstand {
    width: 100%;
    height: 400px;
    

}

/*--------HOME THINGS TO DO--------*/
.scroll2 {
    background-color: #2A4848;
    color: #f1f1f1;
    font-size: 18px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#open-time {
    font-size: 22px;
}

#image-play {
   width: 100%;
    height: 450px;
    
}

/*--------HOME OPENING TIMES AND MAP--------*/
#time {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    background-color: #2A4848ff;
    color: #f1f1f1;
}


.map-text {
    text-align: center;
    background-color: #2A4848ff;
    color: #f1f1f1;
    width: 100%
}

/*--------FOOTER ON ALL PAGES --------*/
footer {
    text-align: center;
    background-color: #2A4848ff;
    color: #f1f1f1;
    background-attachment: fixed;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top:40px
}

#copyright {
    float: right;
    padding-right: 30px;
    font-size: 15px;
}





/*--------FACILITIES BACKGROUND--------*/
.parallax-effect2 {
    background-image: url(../images/splash_summer2.webp);
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

/*--------FACILITIES SPLASHPAD--------*/
.splash {
    background-color: #2A4848;
    color: #f1f1f1;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    display: flex;
    }




.splash h3 {
        
    margin: auto;
    width: 100%;
    border: 1px solid white;
    padding: 10px;
                

}

th,
td {
    padding: 15px;
    
}

/*--------FACILITIES AMINITIES--------*/
.amenities-list {
    background-color: #2A4848;
    color: #f1f1f1;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

#facilities-ul {
    list-style-type: none;
    line-height: 20px;
    
}

#facilities-ul a:link {
    color: rgb(136, 210, 245);
    background-color: transparent;
    text-decoration: underline;
}


/*--------NEWSLETTER BACKGROUND--------*/

.parallax-effect3 {
    background-image: url(../images/waterfountain.webp);
    min-height: 750px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}

/*--------NEWSLETTER FORM--------*/
.form .container {
    position: absolute;
    color: #f1f1f1;
    top: 40%;
    width: 100%;
    padding: 16px;
    background-color: #2A4848;
 
}

/* Full-width input fields */
input[type=text],
input[type=password],
textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #effaf1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #effaf1;
    outline: none;
}

/* Set a style for the submit button */
.btn {
   
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;

    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

/*GALLERY PAGE STYLING*/

#photo {
    
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
}


/*MEDIA QUERIES*/
@media only screen and (max-width: 900px) {
    nav h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 600px) {
    nav h1 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .scroll1 {  
    padding-left: 10%;
    padding-right: 10%;
    }
    .scroll2 {
        padding-left: 10%;
        padding-right: 10%;
    }
    .form .container {
        left: 25px;
        width:500px;
    }
    .event {
        margin: 10px 0;
    }
    .map {
        padding-right: 10%;
    }
    .event-container {
        position: absolute;
    }
    th, td {
        text-align: end;
    }
    .form .container {
        top: 200px;
    }
}

@media only screen and (max-width: 550px) {
    .event {
        flex-direction: column;
    }
    .event-left {
        padding: 0;
        border-radius: 8px 8px 0 0;
    }
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 24px;
    }
    .event .event-left .event-date {
        padding: 10px 0;
    }
    footer {
        padding-bottom: 100px;
        height: 100%;
    }
    #image-bandstand {
        display: none;
    }
    #image-play {
        display: none;
    }  
}


